Package: com.nico671.sylphreborn
Name: sylph reborn
Version: 1.6.3
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nico671
Author: nico671
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
