<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		
		<dict>
			<key>AquariusSub</key>
			 <string>MusicPlayer</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MSPRootListController</string>
			<key>icon</key>
			<string>musicplayer.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Music Player Settings</string>
			</dict>
		
	  
   
	</array>
	<key>title</key>
	<string>Aquarius</string>
</dict>
</plist>
