<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>AquariusTitleCell</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
         </dict>
		 <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>aquariusprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable Tweak?</string>
		</dict>
		 	<dict>
		<key>AquariusSub</key>
 		<string>Settings</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>SETRootListController</string>
		
		<key>icon</key>
		<string>40031.png</string>
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>Settings</string>
	
	</dict>
	<dict>
		<key>AquariusSub</key>
 		<string>Color</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>CLCRootListController</string>
		<key>icon</key>
		<string>coloring.png</string>
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>Coloring</string>
	</dict>

	<dict>
		<key>AquariusSub</key>
 		<string>Outline</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>OTLRootListController</string>
		<key>icon</key>
		<string>Unkown.png</string>
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>Outline</string>
	</dict>
	
	    <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
         </dict>
         <dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>My Twitter</string>
			<key>user</key>
			<string>nico_carbone1</string>
			<key>action</key>
			<string>myTwitter</string>
		</dict>
		  <dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Dave Van Wijk's Twitter</string>
			<key>user</key>
			<string>DaveWijk</string>
			<key>action</key>
			<string>twitterDave</string>
		</dict>
		 <dict>
		
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Litten's Twitter</string>
			<key>user</key>
			<string>schneelittchen</string>
			
		</dict>
   
	</array>
	<key>title</key>
	<string>Aquarius</string>
</dict>
</plist>
